# Credenciales y Tokens (¡Sensible!)
client_secrets.json
ytmusic_auth.json
token.pickle
oauth.json

# Progreso e Historial
progress_*.json
spotify_migrator_config.json

# Python
__pycache__/
backend/__pycache__/
*.pyc

# Entornos virtuales
env/
venv/
.venv/

# Herramientas / IDEs
.gemini/
.vscode/
.idea/
